{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type= "text/css" rel= "stylesheet" href= "{% static '../static/css/add_course.css' %}?t={{ timestamp }}">
    <link rel="shortcut icon" href="../static/images/logo.ico" type="image/x-icon">
    <title>茶裏王選課系統</title>
</head>
<body>

    <div class= "message">
        <!-- 訊息 -->
        <p>{{ context }}</p>

        <button type="submit" onclick="window.location.href= '/'">返回上一頁</button>
    </div>
</body>
</html>