<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>茶裏王選課系統</title>
</head>
<body>

    {% block header %}
    {% endblock %}

    <!-- 學生資訊 -->
    {% if request.user.is_authenticated %}
        <p>學號：{{request.user}}</p> 
        {% for i in student_form %}
            {% if i.student_number == request.user.username %}
                <p>姓名：{{ i.student_name }}</p>
                <p>系級：{{ i.student_class }}</p>
                <p>學分：{{ i.student_credit }} / 25</p>
            {% endif %}
        {% endfor %}
    {% endif %}

    <!-- 登出功能 -->
    <a class="btn btn-lg btn-primary" href="{% url 'Logout' %}" role="button">登出 &#187;</a>

    {% block content %}
    {% endblock %}
</body>
</html>